body{
    margin:0px;
    padding:0;
    text-align:center;
}
h1{
    text-align: center;
    background-color:rgb(17, 6, 27);
    color:white;
    line-height: 5rem;
}
.choice{
    height:165px;
    width:165px;
    border-radius: 50%;
    display:flex;
    justify-content:center;

}
img{
    height:150px;
    width:150px;
    object-fit:cover;
    border-radius: 50%;
}
.choices{
    display:flex;
    justify-content: center;
    align-items:center;
    gap:3rem;
    margin-top: 5rem;
}
.choice:hover{
   cursor: pointer;
   background-color: black;
}
.scoreboard{
    display:flex;
    text-align: center;
    justify-content: center;
    font-size:1rem;
   
}
.score{
    text-align: center;
}
#msg{
    background-color: rgb(17, 6, 27);
    font-size: 2rem;
    color:white;
    display:inline;
   padding:1rem;
    
    border-radius: 0.5rem;
}
.msgcontainer{
    margin-top: 3rem;
}
