body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: chocolate;
}
#create-account-form{
    width:400px;
    padding:20px;
    text-transform:uppercase;
    background-color: #fff;
}
.title{
    margin-bottom:20px;

}
.input-group{
    margin:20px 0;
    position: relative;
}
.input-group label{
    display: inline-block;
    margin-bottom: 5px;
}
.input-group input{
    display: block;
    width:100%;
    padding:5px;
    

}
.succes input{
    border:3px green solid;

}
/* .input-group i{
    position:absolute;
    right: 10px;
    top:35px;
} */
.input-group p{
    font-size: 15px;
    color:red;
    visibility: hidden;
}
.btn{
    width:100%;
    padding:10px;
    font-size: 20px;
    background-color: chocolate;
    color:#fff;
    text-transform: uppercase;
    border:none;
}
